#**Data Frame brics**

In [ ]:
import pandas as pd
brics = pd.read_csv("https://raw.githubusercontent.com/wblakecannon/DataCamp/master/02-intermediate-python-for-data-science/_datasets/brics.csv", index_col = 0)
brics

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

# **Index and select data**

*  Square brackets
*  Advanced methods
    *  loc
    *  iloc

# **Columns Access []**

In [ ]:
brics

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

In [ ]:
brics["country"]

BR          Brazil
RU          Russia
IN           India
CH           China
SA    South Africa
Name: country, dtype: object

In [ ]:
type(brics["country"]) # 1D labelled array

pandas.core.series.Series

In [ ]:
brics[["country"]]

         country
BR        Brazil
RU        Russia
IN         India
CH         China
SA  South Africa

In [ ]:
type(brics[["country"]])

pandas.core.frame.DataFrame

In [ ]:
brics[["country", "capital"]]

         country    capital
BR        Brazil   Brasilia
RU        Russia     Moscow
IN         India  New Delhi
CH         China    Beijing
SA  South Africa   Pretoria

# **Row Access []**

In [ ]:
brics[1:4]

   country    capital    area  population
RU  Russia     Moscow  17.100       143.5
IN   India  New Delhi   3.286      1252.0
CH   China    Beijing   9.597      1357.0

# **Discussion []**

*  Square brackets: limited functionality
*  Ideally
  *  2D Numpy arrays
  *  my_array[rows, columns]
*  pandas
  * loc (label-based)
  * iloc (integer position-based)

# **Row Access loc**

In [ ]:
brics

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

In [ ]:
brics.loc["RU"] # Row as pandas Series

country       Russia
capital       Moscow
area            17.1
population     143.5
Name: RU, dtype: object

In [ ]:
brics.loc[["RU"]] # DataFrame

   country capital  area  population
RU  Russia  Moscow  17.1       143.5

In [ ]:
brics.loc[["RU", "IN", "CH"]]

   country    capital    area  population
RU  Russia     Moscow  17.100       143.5
IN   India  New Delhi   3.286      1252.0
CH   China    Beijing   9.597      1357.0

# **Row & Column loc**

In [ ]:
brics.loc[["RU", "IN", "CH"], ["country", "capital"]]

   country    capital
RU  Russia     Moscow
IN   India  New Delhi
CH   China    Beijing

In [ ]:
brics.loc[:, ["country", "capital"]]

         country    capital
BR        Brazil   Brasilia
RU        Russia     Moscow
IN         India  New Delhi
CH         China    Beijing
SA  South Africa   Pretoria

# **Recap**

*  Square brackets
  *  Columns access brics [["country", "capital"]]
  *  Row access: online through slicing brics[1:4]
*  loc(label-based)
  *  Row access brics.loc [["RU", "IN", "CH"]]
  *  Column access brics.loc [:, ["country", "capital"]
  *  Row & Column access

In [ ]:
brics.loc[
["RU", "IN", "CH"],
["country", "capital"]
]

   country    capital
RU  Russia     Moscow
IN   India  New Delhi
CH   China    Beijing

# **Row Access iloc**

In [ ]:
brics

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

In [ ]:
brics.loc[["RU"]]

   country capital  area  population
RU  Russia  Moscow  17.1       143.5

In [ ]:
brics.iloc[[1]]

   country capital  area  population
RU  Russia  Moscow  17.1       143.5

In [ ]:
brics.loc[{"RU", "IN", "CH"}]

   country    capital    area  population
IN   India  New Delhi   3.286      1252.0
CH   China    Beijing   9.597      1357.0
RU  Russia     Moscow  17.100       143.5

In [ ]:
brics.iloc[[1, 2, 3]]

   country    capital    area  population
RU  Russia     Moscow  17.100       143.5
IN   India  New Delhi   3.286      1252.0
CH   China    Beijing   9.597      1357.0

# **Row & Column iloc**

In [ ]:
brics

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

In [ ]:
brics.loc[["RU", "IN", "CH"], ["country", "capital"]]

   country    capital
RU  Russia     Moscow
IN   India  New Delhi
CH   China    Beijing

In [ ]:
brics.iloc[[1, 2, 3], [0, 1]]

   country    capital
RU  Russia     Moscow
IN   India  New Delhi
CH   China    Beijing

In [ ]:
brics.loc[:, ["country", "capital"]]

         country    capital
BR        Brazil   Brasilia
RU        Russia     Moscow
IN         India  New Delhi
CH         China    Beijing
SA  South Africa   Pretoria

In [ ]:
brics.iloc[:, [0, 1]]

         country    capital
BR        Brazil   Brasilia
RU        Russia     Moscow
IN         India  New Delhi
CH         China    Beijing
SA  South Africa   Pretoria

# **EXERCISES**

## Square Brackets (1)

In the video, you saw that you can index and select Pandas DataFrames in many different ways. The simplest, but not the most powerful way, is to use square brackets.

In the sample code on the right, the same cars data is imported from a CSV files as a Pandas DataFrame. To select only the cars_per_cap column from cars, you can use:

cars['cars_per_cap']
cars[['cars_per_cap']]

The single bracket version gives a Pandas Series, the double bracket version gives a Pandas DataFrame.

In [ ]:
# Import cars data
import pandas as pd
cars = pd.read_csv("https://assets.datacamp.com/production/repositories/287/datasets/79b3c22c47a2f45a800c62cae39035ff2ea4e609/cars.csv", index_col = 0)

In [ ]:
# Use single square brackets to print out the country column of cars as a Pandas Series.
cars['country']

US     United States
AUS        Australia
JAP            Japan
IN             India
RU            Russia
MOR          Morocco
EG             Egypt
Name: country, dtype: object

In [ ]:
# Use double square brackets to print out the country column of cars as a Pandas DataFrame.
cars[['country']]

           country
US   United States
AUS      Australia
JAP          Japan
IN           India
RU          Russia
MOR        Morocco
EG           Egypt

In [ ]:
# Use double square brackets to print out a DataFrame with both the country and drives_right columns of cars, in this order
cars[['country', 'drives_right']]

           country  drives_right
US   United States          True
AUS      Australia         False
JAP          Japan         False
IN           India         False
RU          Russia          True
MOR        Morocco          True
EG           Egypt          True

## **Square Brackets (2)**

Square brackets can do more than just selecting columns. You can also use them to get rows, or observations, from a DataFrame. The following call selects the first five rows from the cars DataFrame:

cars[0:5]

*The result is another DataFrame containing only the rows you specified.*

Pay attention: You can only select rows using square brackets if you specify a slice, like 0:4. Also, you're using the integer indexes of the rows here, not the row labels!

In [ ]:
# Select the first 3 observations from cars and print them out.
cars[0:3]

     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JAP           588          Japan         False

In [ ]:
# Select the fourth, fifth and sixth observation, corresponding to row indexes 3, 4 and 5, and print them out.
cars[3:6]

     cars_per_cap  country  drives_right
IN             18    India         False
RU            200   Russia          True
MOR            70  Morocco          True

## **loc and iloc (1)**

With **loc** and **iloc** you can do practically any data selection operation on DataFrames you can think of. **loc** is label-based, which means that you have to specify rows and columns based on their row and column labels. **iloc** is integer index based, so you have to specify rows and columns by their integer index like you did in the previous exercise.

Try out the following commands in the IPython Shell to experiment with loc and iloc to select observations. Each pair of commands here gives the same result.

In [ ]:
print(cars.loc['RU'])
print(cars.iloc[4])
print("-----------" * 4)
print(cars.loc[['RU']])
print(cars.iloc[[4]])
print("-----------" * 4)
print(cars.loc[['RU', 'AUS']])
print(cars.iloc[[4, 1]])

cars_per_cap       200
country         Russia
drives_right      True
Name: RU, dtype: object
cars_per_cap       200
country         Russia
drives_right      True
Name: RU, dtype: object
--------------------------------------------
    cars_per_cap country  drives_right
RU           200  Russia          True
    cars_per_cap country  drives_right
RU           200  Russia          True
--------------------------------------------
     cars_per_cap    country  drives_right
RU            200     Russia          True
AUS           731  Australia         False
     cars_per_cap    country  drives_right
RU            200     Russia          True
AUS           731  Australia         False

In [ ]:
# Use loc or iloc to select the observation corresponding to Japan as a Series. The label of this row is JAP, the index is 2. Make sure to print the resulting Series.
cars.loc['JAP']

cars_per_cap      588
country         Japan
drives_right    False
Name: JAP, dtype: object

In [ ]:
# Use loc or iloc to select the observations for Australia and Egypt as a DataFrame. You can find out about the labels/indexes of these rows by inspecting cars in the IPython Shell. Make sure to print the resulting DataFrame.
cars.iloc[[1, 6]]

     cars_per_cap    country  drives_right
AUS           731  Australia         False
EG             45      Egypt          True

## **loc and iloc (2)**

**loc** and **iloc** also allow you to select both rows and columns from a DataFrame. To experiment, try out the following commands in the IPython Shell. Again, paired commands produce the same result.

In [ ]:
print(cars.loc['IN', 'cars_per_cap'])
print(cars.iloc[3, 0])
print("-----------" * 4)
print(cars.loc[['IN', 'RU'], 'cars_per_cap'])
print(cars.iloc[[3, 4], 0])
print("-----------" * 4)
print(cars.loc[['IN', 'RU'], ['cars_per_cap', 'country']])
print(cars.iloc[[3, 4], [0, 1]])

18
18
--------------------------------------------
IN     18
RU    200
Name: cars_per_cap, dtype: int64
IN     18
RU    200
Name: cars_per_cap, dtype: int64
--------------------------------------------
    cars_per_cap country
IN            18   India
RU           200  Russia
    cars_per_cap country
IN            18   India
RU           200  Russia

In [ ]:
# Print out the drives_right value of the row corresponding to Morocco (its row label is MOR)
cars.loc['MOR', 'drives_right']

True

In [ ]:
#Print out a sub-DataFrame, containing the observations for Russia and Morocco and the columns country and drives_right.
cars.loc[['RU', 'MOR'], ['country', 'drives_right']]

     country  drives_right
RU    Russia          True
MOR  Morocco          True

## **loc and iloc (3)**

It's also possible to select only columns with loc and iloc. In both cases, you simply put a slice going from beginning to end in front of the comma:

In [ ]:
print(cars.loc[:, 'country'])
print(cars.iloc[:, 1])
print("----------" * 4)
print(cars.loc[:, ['country','drives_right']])
print(cars.iloc[:, [1, 2]])

US     United States
AUS        Australia
JAP            Japan
IN             India
RU            Russia
MOR          Morocco
EG             Egypt
Name: country, dtype: object
US     United States
AUS        Australia
JAP            Japan
IN             India
RU            Russia
MOR          Morocco
EG             Egypt
Name: country, dtype: object
----------------------------------------
           country  drives_right
US   United States          True
AUS      Australia         False
JAP          Japan         False
IN           India         False
RU          Russia          True
MOR        Morocco          True
EG           Egypt          True
           country  drives_right
US   United States          True
AUS      Australia         False
JAP          Japan         False
IN           India         False
RU          Russia          True
MOR        Morocco          True
EG           Egypt          True

In [ ]:
# Print out the drives_right column as a Series using loc or iloc.
cars.loc[:, 'drives_right']

US      True
AUS    False
JAP    False
IN     False
RU      True
MOR     True
EG      True
Name: drives_right, dtype: bool

In [ ]:
# Print out the drives_right column as a DataFrame using loc or iloc.
cars.iloc[:, [2]]

     drives_right
US           True
AUS         False
JAP         False
IN          False
RU           True
MOR          True
EG           True

In [ ]:
# Print out both the cars_per_cap and drives_right column as a DataFrame using loc or iloc.
cars.loc[:, ['cars_per_cap', 'drives_right']]

     cars_per_cap  drives_right
US            809          True
AUS           731         False
JAP           588         False
IN             18         False
RU            200          True
MOR            70          True
EG             45          True